{$THINK_HIKE_HOST} {
	root /Users/madhavjha/src/thinkhike-web-src/public
    git {
        repo  https://github.com/thinkhike/thinkhike-web
        path  ../
        then  hugo --theme=hugo-uno --destination=public
    }
}

{$CODE_SUBDOMAIN} {
	proxy / localhost:1323
}



